<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="privacy">
            <h2><span jhiTranslate="jandallApp.privacy.detail.title">Privacy</span> {{ privacy.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jandallApp.privacy.bdate">Bdate</span></dt>
                <dd>
                    <span>{{ privacy.bdate }}</span>
                </dd>
                <dt><span jhiTranslate="jandallApp.privacy.year">Year</span></dt>
                <dd>
                    <span>{{ privacy.year }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/privacy', privacy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
