<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-team-heading" jhiTranslate="jandallApp.team.home.createOrEditLabel">Create or edit a Team</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.about" for="field_about">About</label>
                    <input type="text" class="form-control" name="about" id="field_about"
                           formControlName="about"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.img" for="field_img">Img</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imgContentType')!.value + ';base64,' + editForm.get('img')!.value" style="max-height: 100px;" *ngIf="editForm.get('img')!.value" alt="team image"/>
                        <div *ngIf="editForm.get('img')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('imgContentType')!.value }}, {{ byteSize(editForm.get('img')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('img', 'imgContentType', 'file_img')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_img" (change)="setFileData($event, 'img', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="img" id="field_img"
                           formControlName="img"/>
                    <input type="hidden" class="form-control" name="imgContentType" id="field_imgContentType"
                           formControlName="imgContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                           formControlName="country"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.province" for="field_province">Province</label>
                    <input type="text" class="form-control" name="province" id="field_province"
                           formControlName="province"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.longitude" for="field_longitude">Longitude</label>
                    <input type="number" class="form-control" name="longitude" id="field_longitude"
                           formControlName="longitude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.latitude" for="field_latitude">Latitude</label>
                    <input type="number" class="form-control" name="latitude" id="field_latitude"
                           formControlName="latitude"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.logo" for="field_logo">Logo</label>
                    <div>
                        <img [src]="'data:' + editForm.get('logoContentType')!.value + ';base64,' + editForm.get('logo')!.value" style="max-height: 100px;" *ngIf="editForm.get('logo')!.value" alt="team image"/>
                        <div *ngIf="editForm.get('logo')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('logoContentType')!.value }}, {{ byteSize(editForm.get('logo')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'file_logo')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_logo" (change)="setFileData($event, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="logo" id="field_logo"
                           formControlName="logo"/>
                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                           formControlName="logoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" formControlName="createdAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" formControlName="updatedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.team.social" for="field_social">Social</label>
                    <select class="form-control" id="field_social" name="social" formControlName="social">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="socialOption.id === editForm.get('social')!.value?.id ? editForm.get('social')!.value : socialOption" *ngFor="let socialOption of socials; trackBy: trackById">{{ socialOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="jandallApp.team.members" for="field_members">Members</label>
                    <select class="form-control" id="field_members" multiple name="members" formControlName="members">
                        <option [ngValue]="getSelected(editForm.get('members')!.value, userOption)" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
