<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-social-heading" jhiTranslate="jandallApp.social.home.createOrEditLabel">Create or edit a Social</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.social.facebook" for="field_facebook">Facebook</label>
                    <input type="text" class="form-control" name="facebook" id="field_facebook"
                           formControlName="facebook"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.social.twitter" for="field_twitter">Twitter</label>
                    <input type="text" class="form-control" name="twitter" id="field_twitter"
                           formControlName="twitter"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.social.linkedIn" for="field_linkedIn">Linked In</label>
                    <input type="text" class="form-control" name="linkedIn" id="field_linkedIn"
                           formControlName="linkedIn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.social.instagram" for="field_instagram">Instagram</label>
                    <input type="text" class="form-control" name="instagram" id="field_instagram"
                           formControlName="instagram"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.social.github" for="field_github">Github</label>
                    <input type="text" class="form-control" name="github" id="field_github"
                           formControlName="github"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.social.gitlab" for="field_gitlab">Gitlab</label>
                    <input type="text" class="form-control" name="gitlab" id="field_gitlab"
                           formControlName="gitlab"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.social.flickr" for="field_flickr">Flickr</label>
                    <input type="text" class="form-control" name="flickr" id="field_flickr"
                           formControlName="flickr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.social.gmail" for="field_gmail">Gmail</label>
                    <input type="text" class="form-control" name="gmail" id="field_gmail"
                           formControlName="gmail"/>
                    <div *ngIf="editForm.get('gmail')!.invalid && (editForm.get('gmail')!.dirty || editForm.get('gmail')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gmail')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Gmail' }">
                            This field should follow pattern for "Gmail".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.social.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }">
                            This field should follow pattern for "Email".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jandallApp.social.website" for="field_website">Website</label>
                    <input type="text" class="form-control" name="website" id="field_website"
                           formControlName="website"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
